body {
    background: #fff;
    font-family: Rubik;
    color: #4F5665;
    width: 100%;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

a {
    text-decoration: none;
    color: #4F5665;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

/* form{
    align-items: center;
} */