.footer {
    padding-top: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_section {
    background: #F6F5F5;
    height: 247px;
}

.contacts_block {
    align-items: center;
}

.footer_title {
    display: flex;
    align-items: center;
}